<div th:switch="${products}">
    <h2 th:case="null">No products yet!</h2>
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.type}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/products/new}">New product</a>
</div>